.login-card-container {
  width: fit-content;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card__logo {
  width: 100%;
  text-align: center;
  margin: 5px 0px 18px 0px;
}