.nav-bar {
  width: 100vw;
  background-color: var(--background);
  box-shadow: var(--accent-shadow);
}
.nav-bar__left-section {
  padding: 20px;
}
.nav-bar__elements {
  display: flex;
  justify-content: space-between;
}
.nav-bar__right-section {
  display: flex;
  align-items: center;
}
.nav-bar__option {
  padding: 23px 0px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s;
}
.nav-bar__option--selected {
  background-color: var(--accent);
}
.nav-bar__option--selected > .nav-bar__option-link{
  color: var(--background);
}
.nav-bar__option:hover {
  background-color: var(--background-secondary);
  transform: scale(1.1);
}
.nav-bar__option-link {
  padding: 0px 20px;
  border-left: 1px solid var(--accent);
  color: var(--text-primary);
  text-decoration: none;
}
.nav-bar__profile {
  display: flex;
  padding: 0px 20px;
  gap: 15px;
  border-left: 1px solid var(--accent);
}
.nav-bar__profile-info {
  text-align: right;
}
.nav-bar__profile-image {
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 576px){
  .nav-bar__profile-info {
    display: none;
  }
}